<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <title></title>
  </head>
  <body>
    <h1> FILGHT DETAILS</h1>
    <div style='display:flex'>
    <div>
    <a href="indigo/" style="color : green">INDIGO</a><br>
    <img src="{% static "indigo.jpg" %}">
    </div>
    <div>
    <a href="airindia/" style="color : green">AIRINDIA</a><br>
    <img src="{% static "airindia.jpg" %}">
    </div>
    <div>
    <a href="kingfisher/" style="color : green">KINGFISHER</a><br>
    <img src="{% static "kingfisher.jpg" %}">
    </div>
    </div>

      </body>
</html>
